# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.idea
cmake-build-debug
cmake-build-release
.DS_Store
Release

# IGNF additions
# Do not commit CGAL directory if it exists
CGAL-*/
# Do not commit Easy3D directory if it exists
Easy3D-*/
# Do not commit IGN test datasets
data/IGN
# Do not commit City3d results on default dataset
data/building_instances/*.obj
002_result.obj
# Do not commit log and params files
/*.csv
/*.log
/*.txt
/*.json
# venv
venv/
/*.obj
# python
__pycache__/
# vscode
.vscode/