# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.idea
cmake-build-debug
cmake-build-release
.DS_Store
Release

# IGN addition
# Do not commit CGAL 
CGAL-*/
# Do not commit IGN test dataset
data/IGN
# Do not commit results on default dataset
data/building_instances/*.obj
002_result.obj
# Do not commit params.csv
*.csv
*.log